*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color:#EBF1F4;
	font-weight: 400;	
	font-family: "Microsoft YaHei",sans-serif;
	font-size: 0.8rem;
	
	overflow:scroll;
}
#deviceManage{
	display: flex;
	flex-direction: column;
	
	color: #333;
}
#deviceManage h4{
	padding-left: 20px;
	line-height: 70px;
	height: 60px;
	
	font-size: 0.8rem;
	font-weight: 700;
}

#deviceManage article{
	/*布局*/	
	margin-bottom: 30px;
	padding: 20px;
	/*样式*/
	background-color: white;
	box-shadow: 0 0 2px 1px rgba(13,5,9,.08)!important;
	border-radius: 3px;
}

#apikeytip div{
	text-align: center;
}
#apikeytip div p{
	padding-bottom: 20px;
}

/*复制按钮样式*/
#DM_copykey{
	padding: 6px 10px 8px 30px;
	margin-left: 20px;
    line-height: 1em;
	
	font-size: 0.6rem;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
	background-color: #00c0f1;
    color: #fff;
    border:0px outset;
    outline: none;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
	background-image: url(../imgs/copy.png);
	background-repeat: no-repeat;
	background-size: .9rem;
	background-position-x: 12px;
	background-position-y: 3px;
}
#DM_copykey:hover{
	background-color: #40d8ff;
    color: #fff;
    background-image: url(../imgs/copyhover.png);
}
#DM_copykey:active{
    background-color: #0ba2f1;
    color: #fff;
}

/*使用说明样式*/
#DM_instruction{
	padding: 10px;
	line-height: baseline;
	
	outline: 0;
    text-decoration: none;
    color: #40d8ff;
}

#DM_instruction:hover,#DM_instruction:active{
	outline: 0;
    text-decoration: none;
    color: #40d8ff;
}

/**/
#deviceManage article header{
	border-bottom: 1px solid #dbe1e4;
	padding: 10px 0px;
	margin-bottom: 20px;

}


/*搜索*/
#DM_search{
	outline: none;
	width: 30%;
    padding-left: 20px;
    height: 35px;
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid #dbe1e4;
}
#DM_search:focus{
	border: 1px solid #53c4e0;
}
#DM_search+button{
	border: 1px solid #dde2e5;
	outline: none;
	border-radius: 4px;
	fill: currentColor;
	color: #19bbff;
	background-color: white;

	width: 35px;
    height: 35px;
    vertical-align: middle;    
}
.searchIcon {
   width: 2em; 
   height: 2em;
   vertical-align:middle;
   padding: 0px;
}
#DM_search+button:hover{
	background-color: #dde2e5;
}
#DM_search+button:active{
	background-color: #19bbff;
    color: #fff;
}
#operation{
	margin: 0px 0px 20px 0px;
}
.leftOperation{
	float: right;
	padding-top: 10px;
}

/*添加设备*/
#addDevice{
	border: none;
	outline: none;
	border-radius: 1rem;
	color: #fff;
	background-color: #19bbff;
	font-size: .95rem;
	
	padding: 5px 14px;
    vertical-align: middle;    
}
.addIcon {
     /*通过设置 font-size 来改变图标大小*/ 
    width: 1em; height: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
    normalize.css 中也包含这行 */
    overflow: hidden;
}

#addDevice:hover{
	background-color: #40d8ff;
    color: #fff;
}
#addDevice:active{
    background-color: #0ba2f1;
    color: #fff;
}

/*导出设备信息*/
#DM_dowloadDeviceMSG{
	border: 1px solid #19bbff;
	outline: none;
	border-radius: 1rem;
	color: #19bbff;
	background-color: #fff;
	font-size: .95rem;
	
	padding: 5px 14px;
    vertical-align: middle; 
}
#DM_copyIcon{
	/*通过设置 font-size 来改变图标大小*/ 
    /*width: 1em; height: 1em;*/
    font-size: 1rem;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
    normalize.css 中也包含这行 */
    overflow: hidden;
}
#DM_dowloadDeviceMSG{
	border: 1px solid #40d8ff;
	color: #40d8ff;
}

/*表格样式*/
#deviceManage table{
	width: 100%;
	margin: 20px 0px;
	
	border-collapse: collapse;
}

#deviceManage table thead{
	font-size: 14px;
	border-radius: 4px;
	background-color: #eee;
}

#deviceManage table thead th:first-child{
	border-radius: 10px 0 0 10px;
	padding: 5px 0px;
}

#deviceManage table thead th:last-child{
	border-radius: 0px 10px 10px 0px;
}

#deviceManage table thead th:first-child{
	width: 50%;
}

#deviceManage table select{
	/*不呈现为下拉框*/
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	
	border: none;
	border-collapse: separate;
	outline: none;
	
	font-size: 14px;
	font-weight: 700;
	
	width: 40%;
	vertical-align: calc(0.5rem);
	padding: 0.5rem;
	
	background-image: url(../imgs/select.png);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	background-size: 1em;
	background-color: #eee;
}
#deviceManage table select option{
	background-color: #fff;
}

/*表单数据样式*/
	/*处理边框*/
#deviceManage table tr td{
	border: 1px solid #eee;
}

#deviceManage table tr:first-child td{
	border-top: none;
}
#deviceManage table tr td:first-child{
	border-left: none;
}
#deviceManage table tr td:last-child{
	border-right: none;
}
#deviceManage table tr:last-child td{
	border-bottom: none;
}
/*居中*/
#deviceManage table tr{
	text-align: center;
}
	/*the first child*/
.basicInformation{
	padding: 10px;
}
/*图片样式*/
.deviceImg{
	color: #999;
	background-color:#c9c9c9;
	font-size: .1em;
	
	fill: currentColor;
	overflow: hidden;
	border-radius: 4px;
	
	padding: 10px;
    width: 5em; height: 5em;
    float: left;
    margin: 0px 20px;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
}
/*设备信息样式*/
.deviceMsg{
	text-align: left;
	line-height: 1.3rem;
}
.deviceMsg h6{
	font-size: 14px;
	color: #7a7e89;
	font-weight: 700;
}
.deviceMsg p{
	font-weight: 400;
	color: #c9c9c9;	
}
/* 操作列表样式 */
i{
	margin: 0px 10px;
	width: 3rem;
	height: 3rem;
	font-size: 3rem;
}

/*提示信息*/
#DM_layout{
	width: 100%;
	text-align: center;
}

#deviceManage #popup{
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	width: 300px;
	padding: 10px 20px;
	z-index: 1000;
	
	color: white;
	border-radius: 4px;
	text-align: center;
	font-size: 1.1rem;
	
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-moz-transition: all 1s linear;
}

.iconfont{
	font-size: 1.5rem;
	width: 1.5rme;
	height: 1.5rem;
}

.successPopup{
	display: inline-block;
	background-color: #32E7AD;
	margin-top: -100px;
}
.errorPopup{
	display: inline-block;
	background-color: orangered;
	margin-top: -100px;
}

/*小图标浮动事件*/
.icon-bianji3:hover,.icon-shanchu2:hover,.icon-xiangqing:hover,.icon-shoudongtianjia:hover,.icon-shujuguanli:hover,.icon-kaifatiaoshi:hover{
	color: #00c0f1;
}

#exportTable{
	position:fixed;
	top: 0px;
	left: -1000px;
	z-index: -10000;
}