*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Microsoft YaHei',sans-serif;
}
body a {
    font-size: 14px;
    text-decoration: none;
    color: #19bbff;
}
.container{
	width: 100%;
	height: 100%;
	overflow: hidden;
    z-index: 1;
    position: absolute;
}
.videoPlayer{
	position: absolute;
    left: 50%;
}
.videoPlayer video{
	position: absolute;
    left: -960px;
}
.panel_login{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 525px;
    margin-left: -225px;
    margin-top: -300px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(153,153,153,.8);
}
.login-logo{
	height: 135px; 
	background:url(../img/es_iot2.png) center no-repeat;
}
.form{
	width: 325px;
	margin: 0 auto;
}
.group{
	padding: 10px 0;
	position: relative;
	font-size: 14px;
}
.group h3{
	font-weight: 400;
	font-size: 19px;
}
.group i{
	left: 10px;
    position: absolute;
    line-height: 43px;
    font-size: 22px;
}
.group input{
    width: 320px;
    line-height: 42px;
    height: 44px;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #dddee3;
    padding: 0 8px;
    padding-left: 40px;
    font-family: "Microsoft YaHei",Arial,sans-serif;
}
.reg{
	position: absolute;
	top: 13px;
	right: 15px;
}
input:focus{
	-webkit-box-shadow: 0 0 10px #19bbff;
    -moz-box-shadow: 0 0 10px #19bbff;
    box-shadow: 0 0 10px #19bbff;
}
.parsley-success {
    background-color: #eeffe7;
    color: #3c763d;
    border-color: #bedebe;
}
.parsley-error {
    background: #fff0f0;
    color: #d95c5c;
    border-color: #cc334c;
}
.group-single label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
a.forget-pwd {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 44px;
    font-size: 14px;
}
button.button-login {
    width: 100%;
    font-size: 18px;
}
.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    font-family: "Microsoft YaHei",sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #00c0f1;
    color: #fff;
    border-width: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 16px 25px;
    line-height: 1em;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    font-size: 16px;
}
.button:hover {
    background-color: #40d8ff;
    color: #fff;
}
.errors-list{
	display: none;
	position: absolute;
    left: -10px;
    top: 54px;
    z-index: 10;
}
.errors-list li{
	display: inline-block;
    padding: 2px 10px;
    color: #fff;
    background-color: #ff4830;
    margin-left: 16px;
    top: -5px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
}
.errors-list li span{
	display: inline-block;
    margin-left: 0;
    font-size: 12px;
}
.errors-list:before{
	width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #ff4931;
    content: '';
    position: absolute;
    top: -16px;
    left: 24px;
}